<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>net.obxlabs.White.jlewis.White</key>
	<array>
		<dict>
			<key>Author</key>
			<string>Jason Edward Lewis</string>
			<key>DefaultPoem</key>
			<true/>
			<key>Title</key>
			<string>The World Was White</string>
			<key>TextVersion</key>
			<integer>1</integer>
			<key>Properties-iPad-Retina</key>
			<dict>
				<key>TextFile</key>
				<string>white</string>
				<key>FontFile</key>
				<string>SalvoSerifBold36</string>
				<key>FontTessellationFile</key>
				<string>SalvoSerifBold36</string>
				<key>OutlineWidth</key>
				<integer>3</integer>
				<key>WordTessellationAccurracy</key>
				<string>4</string>
				<key>OutlinedWordTessellationAccurracy</key>
				<integer>4</integer>
				<key>BackgroundTextSpeed</key>
				<integer>6</integer>
				<key>BackgroundTextHorizontalMargin</key>
				<integer>350</integer>
				<key>BackgroundTextVerticalMargin</key>
				<integer>250</integer>
				<key>BackgroundTextScale</key>
				<real>7.75</real>
				<key>MaximumDistancePadding</key>
				<integer>150</integer>
				<key>RenderPadding</key>
				<integer>20</integer>
				<key>TouchOffset</key>
				<integer>40</integer>
				<key>OffsetSpeedScalar</key>
				<real>0.065</real>
			</dict>
			<key>Properties-iPad</key>
			<dict>
				<key>TextFile</key>
				<string>white</string>
				<key>FontFile</key>
				<string>SalvoSerifBold36</string>
				<key>FontTessellationFile</key>
				<string>SalvoSerifBold36</string>
				<key>OutlineWidth</key>
				<integer>3</integer>
				<key>WordTessellationAccurracy</key>
				<string>4</string>
				<key>OutlinedWordTessellationAccurracy</key>
				<integer>4</integer>
				<key>BackgroundTextSpeed</key>
				<integer>6</integer>
				<key>BackgroundTextHorizontalMargin</key>
				<integer>350</integer>
				<key>BackgroundTextVerticalMargin</key>
				<integer>250</integer>
				<key>BackgroundTextScale</key>
				<real>7.75</real>
				<key>MaximumDistancePadding</key>
				<integer>150</integer>
				<key>RenderPadding</key>
				<integer>20</integer>
				<key>TouchOffset</key>
				<integer>40</integer>
				<key>OffsetSpeedScalar</key>
				<real>0.065</real>
			</dict>
			<key>Properties-iPhone-568h</key>
			<dict>
				<key>TextFile</key>
				<string>white</string>
				<key>FontFile</key>
				<string>SalvoSerifBold23</string>
				<key>FontTessellationFile</key>
				<string>SalvoSerifBold23</string>
				<key>OutlineWidth</key>
				<integer>3</integer>
				<key>WordTessellationAccurracy</key>
				<string>4</string>
				<key>OutlinedWordTessellationAccurracy</key>
				<integer>4</integer>
				<key>BackgroundTextSpeed</key>
				<integer>3</integer>
				<key>BackgroundTextHorizontalMargin</key>
				<integer>195</integer>
				<key>BackgroundTextVerticalMargin</key>
				<integer>105</integer>
				<key>BackgroundTextScale</key>
				<real>5.25</real>
				<key>MaximumDistancePadding</key>
				<integer>70</integer>
				<key>RenderPadding</key>
				<integer>10</integer>
				<key>TouchOffset</key>
				<integer>35</integer>
				<key>OffsetSpeedScalar</key>
				<real>0.065</real>
			</dict>
			<key>Properties-iPhone-Retina</key>
			<dict>
				<key>TextFile</key>
				<string>white</string>
				<key>FontFile</key>
				<string>SalvoSerifBold23</string>
				<key>FontTessellationFile</key>
				<string>SalvoSerifBold23</string>
				<key>OutlineWidth</key>
				<integer>3</integer>
				<key>WordTessellationAccurracy</key>
				<string>4</string>
				<key>OutlinedWordTessellationAccurracy</key>
				<integer>4</integer>
				<key>BackgroundTextSpeed</key>
				<integer>3</integer>
				<key>BackgroundTextHorizontalMargin</key>
				<integer>165</integer>
				<key>BackgroundTextVerticalMargin</key>
				<integer>105</integer>
				<key>BackgroundTextScale</key>
				<real>5.25</real>
				<key>MaximumDistancePadding</key>
				<integer>70</integer>
				<key>RenderPadding</key>
				<integer>10</integer>
				<key>TouchOffset</key>
				<integer>35</integer>
				<key>OffsetSpeedScalar</key>
				<real>0.065</real>
			</dict>
			<key>Properties-iPhone</key>
			<dict>
				<key>TextFile</key>
				<string>white</string>
				<key>FontFile</key>
				<string>SalvoSerifBold23</string>
				<key>FontTessellationFile</key>
				<string>SalvoSerifBold23</string>
				<key>OutlineWidth</key>
				<integer>3</integer>
				<key>WordTessellationAccurracy</key>
				<string>4</string>
				<key>OutlinedWordTessellationAccurracy</key>
				<integer>4</integer>
				<key>BackgroundTextSpeed</key>
				<integer>3</integer>
				<key>BackgroundTextHorizontalMargin</key>
				<integer>165</integer>
				<key>BackgroundTextVerticalMargin</key>
				<integer>105</integer>
				<key>BackgroundTextScale</key>
				<real>5.25</real>
				<key>MaximumDistancePadding</key>
				<integer>70</integer>
				<key>RenderPadding</key>
				<integer>10</integer>
				<key>TouchOffset</key>
				<integer>35</integer>
				<key>OffsetSpeedScalar</key>
				<real>0.065</real>
			</dict>
			<key>BackgroundColor</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>BackgroundTextLeadingScalar</key>
			<real>0.8</real>
			<key>MaximumSentences</key>
			<integer>2</integer>
			<key>BackgroundFlickerSpeed</key>
			<real>0.5</real>
			<key>BackgroundFlickerPropability</key>
			<real>0.68</real>
			<key>BackgroundFlickerScalar</key>
			<real>0.235</real>
			<key>MaximumSideWords</key>
			<integer>5</integer>
			<key>FadeInOpacity</key>
			<integer>1</integer>
			<key>FadeOutOpacity</key>
			<integer>0</integer>
			<key>FadeOutSpeed</key>
			<real>0.025</real>
			<key>FadeInSpeedHighlight</key>
			<real>0.1</real>
			<key>FadeOutSpeedHighlight</key>
			<real>0.002</real>
			<key>FadeSpeedScroll</key>
			<real>0.75</real>
			<key>ScrollDrag</key>
			<real>0.95</real>
			<key>ScrollSpeed</key>
			<real>12.5</real>
			<key>MaximumDistanceMultiplier</key>
			<integer>35</integer>
			<key>MaximumSidePreloadWords</key>
			<integer>10</integer>
			<key>MaximumFadeOutSpeedHighlight</key>
			<real>0.1</real>
			<key>MaximumFadingLines</key>
			<integer>10</integer>
			<key>WordFillColor</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>OutlinedWordFillColor</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<key>OutlinedWordOutlineColor</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
	</array>
</dict>
</plist>
